.menuContainer {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.emailSender {
    width: 90%;
    height: 95%;
    margin: auto;
    margin-top: 2%;
    background: #fff1d0;
    border-radius: 8px;
    overflow: hidden;
}

.submitContainer {
    width: 20%;
    margin:auto;
    margin-top: 2%;
    cursor: pointer;
}
.submitButton {
    border:none;
    background-color: #E9967A;
    padding: 10%;
    width:100%;
    margin: auto;
    border-radius: 5px;;
    cursor: pointer;
}

.form__group {
    overflow: hidden;
    margin:auto;
    margin-top: 7%;
    width: 70%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #E9967A;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    background: transparent;
    transition: border-color 0.2s;
}


.form__field:focus {
    font-weight: 300;
    border-width: 3px;
    border-image: black;
    border-image-slice: 1;
}

.title {
    font-size: max(3vh, 35px);
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    margin-top: 4%;
    border-radius: 10px;
    background: #fff1d0;
    text-align: center;
    width: 60%;
    height: 50%;
}

.title p {
    margin-top: 2%;
    padding-top: 1%;
}

.firstPart {
    width: 35%;
    height: 100%;
    background-color: #E9967A;

}

.secondPart {
    width: 65%;
    height: 100%;
}

.titleSecondPart {
    background-color: #E9967A;
    width: 100%;
    height: 20%;
    text-align: center;
    overflow: hidden;
}

.flexContainer {
    display: flex;
    width: 100%;
    height: 80%;
    background-color: #E9967A;
    border-bottom: 1px solid black;
}

.textContainer {
    width: 50%;
    height: 100%;

}

.imgContainer {
    width: 50%;
    height: 100%;
    overflow:hidden;
}

.devisDescription {

    width:70%;
    padding-bottom: 2%;
    margin:auto;
    color: black;
    background-color: #fff1d0;
    border-radius: 8px;
    margin-top:20%;
    font-size:max(1vw, 12px);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    overflow:hidden;
}

.checked{
    width:60%;
    height:25%;
    margin:auto;
    color: black;
    background-color: #fff1d0;
    border-radius: 8px;
    margin-top:20%;
    font-size:max(1vw, 12px);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    overflow:hidden;
}
.checked p{
    margin-top:10%;
}
@media (max-width: 531px) {
    .secondPart{
        display: none;
    }
    .firstPart {
        width: 100%;
    }
}
